@charset "utf-8";

// Our variables
$base-font-family: "Cabin", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #efefef;
$brand-color:      #e11c2e;

$grey-color:       #444;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  backface-visibility: hidden;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 20 / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
        fill: red;
    }
  }
}


.corus {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}

.corus-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.corus-open:checked + .corus-item {
  position: static;
  opacity: 100;
}

.corus-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.corus-card {
  display: block;
  height: auto;
  max-width: 100%;
  min-height: 280px;
}

.corus-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.corus-control.prev {
  left: 2%;
}

.corus-control.next {
  right: 2%;
}

.corus-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#corus-1:checked ~ .control-1,
#corus-2:checked ~ .control-2,
#corus-3:checked ~ .control-3,
#corus-4:checked ~ .control-4,
#corus-5:checked ~ .control-5,
#corus-6:checked ~ .control-6,
#corus-7:checked ~ .control-7,
#corus-8:checked ~ .control-8,
#corus-9:checked ~ .control-9,
#corus-10:checked ~ .control-10 {
  display: block;
}

.corus-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.corus-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.corus-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.corus-bullet:hover {
  color: #aaaaaa;
}

#corus-1:checked ~ .control-1 ~ .corus-indicators li:nth-child(1) .corus-bullet,
#corus-2:checked ~ .control-2 ~ .corus-indicators li:nth-child(2) .corus-bullet,
#corus-3:checked ~ .control-3 ~ .corus-indicators li:nth-child(3) .corus-bullet,
#corus-4:checked ~ .control-4 ~ .corus-indicators li:nth-child(4) .corus-bullet,
#corus-5:checked ~ .control-5 ~ .corus-indicators li:nth-child(5) .corus-bullet,
#corus-6:checked ~ .control-6 ~ .corus-indicators li:nth-child(6) .corus-bullet,
#corus-7:checked ~ .control-7 ~ .corus-indicators li:nth-child(7) .corus-bullet,
#corus-8:checked ~ .control-8 ~ .corus-indicators li:nth-child(8) .corus-bullet,
#corus-9:checked ~ .control-9 ~ .corus-indicators li:nth-child(9) .corus-bullet,
#corus-10:checked ~ .control-10 ~ .corus-indicators li:nth-child(10) .corus-bullet {
  color: #428bca;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
